body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
color:white;
}

.section{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:30px;
}

/* Warna tiap slide */

.hero{
}

.about{
}

.services{
}

.portfolio{
}

.contact{

}